In [1]:
##Define a variable in Python. Provide an example of how to create a variable that stores your name

In [8]:
a=(2090)
print(a)

2090

In [10]:
##What is the difference between a variable and a constant? Can we have constants in Python?
##  In variable we can store any value. eg please see above a.and constant  are also variable type whoes values |
## can not be changed or altered. yes in python it is common for the name.

In [13]:
#2.a and b.
a=(13)
type(a)

str

In [14]:
b=(12.1)
type(b)

float

In [15]:
c=("vishal")
type(c)

str

In [16]:
d=True
type(d)

bool

In [8]:
##3.a
a=5
b=4
sum=a+b
print(sum)

9

In [9]:
min =a-b
print(min)

1

In [10]:
div=a/b 
print(div)

1.25

In [12]:
mul=a*b
print(mul)

20

In [14]:
fd=a//b
print(fd)

1

In [18]:
exp=a**b
print(exp)

625

In [22]:
#3.b
L=5
W=10
Length=eval(input("enter L"))
Width=eval(input("enter W"))
area=L*W
print(area)

50

In [24]:
##4.Comparison and Logical Operators
c=6
d=6
result=(c==d)
print(result)

True

In [25]:
e=5
f=7
result=(e==f)
print(result)

False

In [26]:
result=(c!=d)
print(result)

False

In [28]:
results =(e!=f)
print(results)

True

In [29]:
result=(e>f)
print(result)

False

In [30]:
result=(e<f)
print(result)

True

In [31]:
result=(e>=f)
print(result)

False

In [32]:
result=(e<=f)
print(result)

True

In [33]:
#4.b

In [36]:
num= int(input("Enter a number: "))
if (num!=0 and num >0):
   if (num%2==0):
     print("Number is positive and even")
   elif (num%2 !=0):
     print("Number is positive and odd")
   else:
     print("Number is negative")
else:
     print("Number is Zero")

Number is positive and even

In [38]:
#5. type casting-it convert one data type into another. there care two types of casting  
# implicit-  it automatically handled by the programing (python)
a=100
type(a)

int

In [39]:

b=12.4
type(b)

float

In [42]:
total=a+b
print(total)

112.4

In [44]:
# explicit - It peformed manually by programing (python)
num1="2090"
num1=int(num1)
print(type(num1))

<class 'int'>

In [51]:
#5.b
#Converts a float to an integer
num1=12.86
print=int(num1)

In [54]:
num1=12.86
type(num1)

float

In [61]:
convert=int(num1)
print(convert)

12

In [62]:
type(12)

int

In [89]:
#Converts an integer to a string.


intger_value = ('20')
string_value =str(intger_value)

In [90]:
print=str(intger_value)

In [91]:
type(print)

str

In [111]:
number_str="20.90"#Converts a string to a float
number_float=float(number_str)
print(number_float)

20.9

In [114]:
type(number_float)

float

In [115]:
#6.Practical Exercise: Mini Calculator

In [173]:
a1=int(input("enter the first number"))
b2=int(input('enter the second number'))
print("Addition",a1+b2)
print("Subtraction",b2-a1)
print("Multiplication",a1*b2)
if b2 != 0:
    print("Division", a1 / b2)
else:
    print("Division by zero is not allowed.")
print("Conversion to string :",type(str(a1+b2)))

TypeError: float expected at most 1 argument, got 2

In [136]:
num1=int(input("Enter 1st number"))

In [137]:
num2=int(input("Enter 2nd number"))